:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito:#b40aac;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin: 1em;
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario)
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__caixa{
    margin: 0 6em;
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.dispositivo__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape{
    
    text-align: center;
    margin: 5em 3em;
}

.rodope__logo{
    width: 5%;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    margin: 2em 0;
    gap: 1rem;  
}

.lista__link{
    list-style-type: none;
    color: var(--branco-principal);
    margin-left: 1em;
    
}

.lista__link a:hover{
    color: var(--botao-azul);
}

.lista__link a:active{
    color: purple;
}

.lista__link a:visited{
    color:purple;
}

.lista__link a:visited:hover{
    color:aqua;
}
.lista__texto{
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 16px;
    color: var(--branco-principal);
}

.rodape__texto{
    font-family: var(--fonte-principal);
    color: var(--cinza-secundario);
    font-size: 14px;
    margin: 1em 0;
}

/*transformando a pagina em uma pagina responsiva*/

@media screen and (max-width: 768px){
    .container{
        display: block;
        background-image: none;
    }

    .container__imagem{
        width: 50vw;
    }

    .container__caixa{
        margin: 2em 2em;
    }

    .segudario{
        margin: 0;
        text-align: center;
    }

    .secundario__imagem{
        width:50vw;
    }

    .dispositivo__lista{
        display: block;
    }

    .rodape__lista{
        display: block;
    }

}